/**
 * Copyright (c) 2020 by Pulse Secure, LLC. All rights reserved.
 */

/*---------Font-variables---------*/
$graphik-light: 'Graphik300';
$graphik-regular: 'Graphik400';
$graphik-medium: 'Graphik500';
$graphik-semibold: 'Graphik600';

.applicationList {
  .psui-table {
    border: 0;
    &__row-header {
      border: 1px solid #e2e7f1;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      div {
        background: #f7f8fc;
      }
    }
    &__header {
      background: #f7f8fc;
      font-size: 0.875rem;
      line-height: 1.1875rem;
      color: #18222c;
      letter-spacing: 0.0125rem;
      font-family: $graphik-medium;
      text-transform: capitalize;
    }
    &__cell {
      font-size: 0.875rem;
      line-height: 1.1875rem;
      letter-spacing: 0.0125rem;
      color: #5d6579;
      .brcd-icon {
        width: 1.5rem;
        height: 1rem;
        font-size: 1.125rem;
        line-height: 1rem;
        color: #5d6579;
      }
      .account-icon {
        color: #2850ff;
      }
    }
    &__body {
      border: 1px solid #e2e7f1;
      border-top: 0;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    &__row {
      border-bottom: 1px solid #e2e7f1;
      &:nth-child(even) {
        div {
          background: transparent;
        }
      }
      &:hover {
        div {
          background: #e1e7ff;
        }
      }
      &--selected {
        div {
          background: #e1e7ff;
        }
      }
      .applicationNameRow {
        display: flex;
        align-items: center;
        .icon {
          width: 1.25rem;
          height: 1.25rem;
          margin-right: 1.25rem;
        }
      }
    }
    .brcd-no-data-available {
      border: 1px solid #e2e7f1;
      border-top: 0;
      height: 15rem;
      .brcd-icon {
        display: none;
      }
      .nodata-msg {
        font-size: 1rem;
        letter-spacing: 0.0125rem;
        color: #18222c;
        font-family: $graphik-medium;
        line-height: 1.375rem;
        margin-bottom: 0.9375rem;
        .add-btn {
          color: #2e5afd;
          cursor: pointer;
        }
      }
    }
    .brcd-checkbox {
      input {
        display: initial;
      }
    }
  }
}
