/**
 * Copyright (c) 2020 by Pulse Secure, LLC. All rights reserved.
 */

.bookmark-card-list {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 0.9375rem);
  margin-left: -7.5px;
  .Bookmark-card {
    margin: 0 7.5px 0.9375rem;
    max-width: calc(25% - 0.9375rem);
  }
}
