/**
 * Copyright (c) 2020 by Pulse Secure, LLC. All rights reserved.
 */

.Bookmark-card {
  border: 1px solid #e0e8fc;
  background: #fff;
  padding: 1rem;
  max-width: 20.625rem;
  width: 100%;
  display: flex;
  &__serviceIcon {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-right: 1rem;
    color: #2850ff;
  }
  &__serviceLogo {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-right: 1rem;
  }
  &__content {
    margin-right: 0.6875rem;
    padding-top: 0.125rem;
    &-title {
      font-size: 1rem;
      line-height: 1;
      letter-spacing: 0.0125rem;
      color: #18222c;
      font-family: "Graphik500";
      margin-bottom: 0.3125rem;
    }
    &-count {
      color: #2850ff;
      margin-left: 0.3125rem;
    }
    &-para {
      font-size: 0.8125rem;
      line-height: 1.23;
      letter-spacing: 0.0125rem;
      color: #5d6579;
      font-family: "Graphik400";
    }
  }
  &__actionIcon {
    color: #2850ff;
  }
}
