/**
 * Copyright (c) 2020 by Pulse Secure, LLC. All rights reserved.
 */

/*---------Font-variables---------*/
$graphik-light: 'Graphik300';
$graphik-regular: 'Graphik400';
$graphik-medium: 'Graphik500';
$graphik-semibold: 'Graphik600';

* {
  box-sizing: border-box;
}

.Page-wrapper {
  display: block;
  width: 100%;
  &-header {
    padding: 1rem 1.25rem;
    box-shadow: inset 0 -1px 0 0 #e2e7f1;
    &__breadcrumb {
      padding: 0;
      margin: 0;
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        li {
          font-size: 0.6875rem;
          padding-right: 0.1875rem;
          line-height: 0.9375rem;
          font-family: $graphik-medium;
          text-transform: uppercase;
          letter-spacing: 0.0125rem;
          color: #5d6579;
          a {
            color: #5d6579;
          }
          &.psui-crumb-trail__crumb-trail-item {
            &:after {
              left: 0.125rem;
              @at-root body.theme-dark & {
                color: #5d6579;
              }
            }
          }
        }
      }
    }
    &__title {
      font-size: 1.25rem;
      line-height: 1.25rem;
      color: #18222c;
      letter-spacing: 0.0125rem;
      font-family: $graphik-semibold;
      margin-right: 0.5rem;
      margin-top: 0.25rem;
    }
    &__sub_title {
      margin-top: 5px;
      font-size: 11px;
      font-family: $graphik-medium;
      letter-spacing: 0.2px;
      color: #5d6579;
      text-transform: uppercase;
    }
  }
  .Page-wrapper-content {
    padding: 1.25rem;
    .pulseClientCard {
      margin-bottom: 1.5rem;
    }
    .search-container {
      position: relative;
      margin-bottom: 1.6875rem;
      .brcd-input {
        input {
          padding: 0.625rem 6.25rem 0.75rem 0.625rem;
          font-size: 13px;
          font-family: $graphik-medium;
          color: #18222c;
        }
      }
      .browse {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translate(0, -50%);
        cursor: pointer;
        font-size: 0.9375rem;
        color: #2850ff;
        text-transform: uppercase;
        font-family: $graphik-medium;
      }
    }
  }
}

/** Warning Modal Css **/
.warningModal {
  width: 31.25rem;
  .brcd-dialog-old__header {
    &-icon {
      .brcd-icon {
        background-color: #f04770;
        height: 2.5rem;
        width: 2.5rem;
        line-height: 2.5rem;
      }
    }
    &-title {
      flex-direction: row;
      justify-content: flex-start;
      h1 {
        letter-spacing: 0.2px;
        font-family: $graphik-medium;
      }
    }
  }
  .brcd-dialog-old__content {
    padding: 1.875rem 1.875rem 1.25rem;
    background-color: #fbfcff;
    overflow: auto;
    .modalContent {
      &__subTitle {
        font-size: 1rem;
        line-height: 1.4;
        color: #18222c;
        font-family: $graphik-medium;
        letter-spacing: 0.2px;
        margin: 0 0 0.813rem;
        &.mb8 {
          margin-bottom: 0.5rem;
        }
        &.mb20 {
          margin-bottom: 1.25rem;
        }
      }
      &__infoLable {
        font-size: 1rem;
        line-height: 1.4;
        color: #f04770;
        font-family: $graphik-medium;
        margin: 0 0 0.813rem;
      }
      &__details {
        font-size: 0.688rem;
        line-height: 1.2;
        color: #5d6579;
        letter-spacing: 0.2px;
        font-family: $graphik-medium;
        color: #5d6579;
        &.fontUppercase {
          text-transform: uppercase;
        }
        &.mb15 {
          margin: 0 0 0.938rem;
        }
      }
      &__link {
        margin-bottom: 1.5rem;
        a {
          font-size: 1rem;
          color: #2850ff;
          letter-spacing: 0.2px;
          font-family: $graphik-medium;
        }
      }
      &__form {
        .brcd-input {
          background-color: #fff;
          margin-bottom: 1.25rem;
          &__label {
            font-family: $graphik-medium;
            font-size: 0.8125rem;
            color: #5d6579;
            line-height: 0.738rem;
            padding: 0;
            &--floating {
              font-size: 0.5625rem;
            }
            &--default {
              transform: translateY(-0.4rem);
              top: 0.8rem;
            }
            span {
              color: #f04770;
            }
          }
          input {
            font-family: $graphik-medium;
            font-size: 0.813rem;
            color: #18222c;
            line-height: 0.738rem;
            &:focus {
              &:not([readonly]) {
                ~ .brcd-input__label {
                  font-size: 0.5625rem;
                }
              }
            }
          }
        }
        .brcd-select {
          margin-bottom: 0.5rem;
          &__container {
            padding: 0.125rem 0 0.188rem;
          }
          &__label {
            font-family: $graphik-medium;
            font-size: 0.813rem;
            color: #18222c;
            line-height: 0.938rem;
            &-container {
              padding-top: 0.313rem;
            }
          }
          &__dropdown-label {
            font-family: $graphik-medium;
            color: #586074;
            line-height: 0.75rem;
            display: block;
            span {
              color: #f04770;
            }
          }
          &.select-pagesize {
            .brcd-select__error-label {
              display: none;
            }
          }
        }
      }
      .userDetails {
        display: flex;
        margin: 0 -1.563rem 1.25rem;
        &__col {
          padding: 0 1.563rem;
        }
        &__title {
          letter-spacing: 0.2px;
          line-height: 1.4;
          font-size: 0.688rem;
          font-family: $graphik-medium;
          text-transform: uppercase;
          color: #5d6579;
        }
        &__info {
          letter-spacing: 0.2px;
          font-family: $graphik-medium;
          font-size: 1rem;
          line-height: 1.4;
          color: #18222c;
          display: block;
        }
      }
    }
  }
  .brcd-dialog-old__footer {
    justify-content: center;
    background-color: #fbfcff;
    .brcd-btn {
      font-family: $graphik-medium;
    }
  }
  &.blockedModal {
    .brcd-dialog-old__header {
      &-icon {
        .brcd-icon {
          background-color: #a430e4;
        }
      }
    }
  }
}
