$graphik-medium: 'Graphik500';

.card {
  width: 27.25rem;
  height: 4.625rem;
  border: solid 0.0625rem #e0e8fc;
  background-color: #ffffff;
  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.0625rem 1.5625rem 1.0625rem 1.5rem;
    height: 100%;
    .brcd-logo {
      height: 1.875rem;
      width: 1.1875rem;
      padding: 0;
    }
    .text {
      font-size: 1rem;
      color: #18222c;
      text-transform: uppercase;
      font-family: $graphik-medium;
      padding-left: 0.8125rem;
    }
    .brcd-btn {
      margin-left: auto;
    }
  }
}
