/**
 * Copyright (c) 2020 by Pulse Secure, LLC. All rights reserved.
 */

.controlMenu {
  position: fixed;
  top: 10px;
  right: 10px;
  .controlMenuRow {
    display: inline-flex;
    border-radius: 3px;
    border: solid 1px #e0e8fc;
    background-color: #ffffff;
    overflow: hidden;
    .controlDragAction {
      .brcd-icon {
        font-size: 0.75rem;
        border: 0;
        color: #5d6579;
        width: 16px;
        height: 38px;
        border-radius: 0px;
        background-color: #e0e8fc;
      }
    }
    .controlMenuActoin {
      display: flex;
      align-items: center;
      padding: 0 6px;
      .MenuActoinItem {
        padding: 0 8px;
        .brcd-logo {
          padding: 0;
          height: 30px;
          width: 18px;
        }
        .brcd-icon {
          font-size: 1.25rem;
          border: 0;
          color: #2850ff;
          width: 24px;
          height: 24px;
          border-radius: 0px;
        }
      }
    }
    .controlExpandAction {
      .brcd-icon {
        font-size: 0.625rem;
        border: 0;
        color: #5d6579;
        width: 16px;
        height: 38px;
        border-radius: 0px;
        background-color: #e0e8fc;
      }
    }
  }
}
